<% title "Page", false %>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="box">
      <div class="box-header">
        <h4>Page#index</h4>
      </div>
      <div class="box-body canvas-container overflow-hidden">
        <p>
          Etiam euismod feugiat ipsum, id tempor sem eleifend sed. Donec diam ex, volutpat nec rutrum at, tempus nec augue. Praesent dictum scelerisque augue sed sagittis. Nam quis risus sem. Donec sit amet finibus erat. Aliquam est enim, cursus et tellus non, hendrerit luctus tortor. Curabitur at metus in quam aliquam iaculis. Morbi at mauris vitae arcu sodales condimentum at in ante. Pellentesque rhoncus vitae nulla sed ultrices. In pretium a purus interdum aliquam.
        </p>
        <div class="canvas is-bottom is-hoverable bg-pomegranate p-a-15 text-center">
          <div class="alert">
            <h4>Find me in app/views/page/index.html.erb</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
