.rykn0wxx .mudhead {
  .metismenu .active > a > .nav-tools .fa.arrow:before {
    content: "\f107";
  }
  .top-nav {
    position: relative;
    box-shadow: $shadow-2dp;
    &.navbar-collapse {
      padding-left: 0;
      padding-right: 0;
    }
    ul.metismenu {
      background: adjust-color($navbar-inverse-bg, $red:21, $green:21, $blue:21);
    }
    > .nav > li > .nav-sub {
      border: 0 solid rgba(0,0,0,0);
      // background: rgba($gray-light, 0.7);
      // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      > li > a {
        color: $clouds;
        &:hover, &:focus {
          color: $white;
          background-color: darken($gray-light, 10%);
        }
      }
      li {
        background-color: rgba(#666, 0.7);
      }
    }
    @media (max-width: 767px) {
      .nav.nav-inline {
        &.collapse:not(.in) {
          display: none;
        }
        > li {
          display: block;
        }
        &.is-center:not(.collapse),
        &.is-right:not(.collapse),
        &.is-left:not(.collapse) {
          flex-direction: column;
        }
      }
    }
  }
}
