.rykn0wxx .mudhead {
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    flex-basis: auto !important;
    /* 1 */
  }
}
.lh-20 {
  line-height: 20px;
}
.m-a-0 {
  margin: 0px !important;
}
.m-r-10 {
  margin-right: 10px;
}
.p-v-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.f-n { font-weight: normal; }
.f-b { font-weight: bold; }
.f-300 { font-weight: 300; }
.f-400 { font-weight: 400; }
.f-600 { font-weight: 600; }
.f-700 { font-weight: 700; }
.f-800 { font-weight: 800; }

.f-1,
.f-2,
.f-3,
.f-4,
.f-5 {
  font-weight: 300;
}
.f-1 { font-size: 96px; }
.f-2 { font-size: 88px; }
.f-3 { font-size: 72px; }
.f-4 { font-size: 56px; }
.f-5 { font-size: 40px; }

.rykn0wxx .mudhead {
  @include mainloop;
}
