<div class="box">
  <div class="box-body">
    <h4 class="m-b-10 md-title">
      No current record available in <%= obj.model_name.to_s %>
    </h4>
    <h4 class="md-subhead">
      Click <%= link_to "here", :controller => controller_name, :action => 'new' %> to create one.
    </h4>
  </div>
</div>
